@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Oswald', sans-serif;

}

/* header -title and hit/miss indication*/
.title {
   grid-area: 1 / 1 / 1 / 3;
   width: 100%;
   height: 23vh;
   text-align: center;
   
}


#hit-ind{
   width: 60%;
   margin: auto;
   letter-spacing: 0.5em;
   display: block;
   color: rgb(239, 64, 64);
   align-items: center;
   height: 65%;
   font-size: 40px ;
   font-weight: 700;
   pointer-events: none;
}

.title h1 {
   font-size: 60px;
   text-align: center;
   font-weight: 700;
   color: #d3cece;

}


#win {
   display: block;
   font-size: 90px;
   padding-top: 9rem;
   color: rgb(33, 152, 33);
   pointer-events: none;
   z-index: 99;
}

/*body style*/
body {
   display: grid;
   grid-template-rows: 1fr 3fr 1fr;
   height: 100vh;
   background-color: #4C4B63;
   overflow-x: hidden;
   overflow-y: hidden;
}

/*section-game - containing everything else*/
.game {
   display: grid;
   grid-template-columns: 1fr 3fr 1fr;
   background-color: rgb(0, 59, 54, 50%);
   width: 75%;
   height: 100%;
   margin: auto;
   padding: 15px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}


/*field containitg .input*/

.field {
   display: block;
   background-color: rgb(20, 20, 20, 20%);
   border: none;
   border-radius: 2px;
   color: #d3cece;

}

/*input field*/

.input {
   display: grid;
   grid-template-rows: 1fr 3fr 1fr;
   padding: 1em;
   height: 100%;
}

.input .grid-size,
.input .battle-num,
.input .start {
   display: block;
   text-align: center;
   width: 100%;
}



.input .start, .score .restart{
   display: block;
   position: relative;
   height: 80%;
   width: 90%;
   margin: auto;
}


.input .start button, .score .restart button {
   display: block;
   background-color: rgb(20, 20, 20, 50%);
   font-weight: 700;
   cursor: pointer;
   width: 100%;
   height: 100%;
   margin: auto;
   color: #d3cece;
   font-size: 27px;
}

/*game div - containing the section that holds the table*/
.table {
   display: block;
   width: 550px;
   height: 500px;
   margin: auto;
   background-image: url(/styles/Assets/ocean-top-view.jpg);
   background-size: cover;
   outline: 2px solid #000;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.table table {
   border: 1px #d3cece solid;
   border-collapse: collapse;
   table-layout: fixed;
   width: inherit;
   height: inherit;
}

.table table td {
   background-color: #11270B;
   cursor: pointer;
}


.score{
   display: grid;
   grid-template-rows: 1fr 3fr 1fr;
   width: 90%;
   height: 100%;
   background-color: rgb(20, 20, 20, 20%);
   text-align: center;
   align-self: center;
   padding: 1rem;
   color: #d3cece;

}


.score table {
   width: 100%;
   margin: auto;
}

.score table tr,
.score table td {
   border: 1px #d3cece solid;
   align-items: center;
}


.table table tr,
.table table td {
   border: 1px #d3cece solid;
}

.titi .ship .hit {
   background-color: red;
}


.hited {
   background-color: #ffffff00 !important;
}

.wasBoom {
   background-color: red !important;
}



.blurred{
   -webkit-filter: blur(5px);
   filter: blur(5px);
}